.arrowstatus {
  display: flex;
  flex-direction: column;
  font-size: $f4;
  max-width: 50px;
  align-items: center;
  span {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  &__arrow {
    color: $colorPrimary;
  }
}
