.header {
  display: flex;
  height: 80px;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 2em;

  &__menus {
    button {
      margin-left: 4em;
    }
  }

  &__hamburger {
    span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: black;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  @include breakpoint-down(medium) {
    padding: 1em;
    height: 50px;
  }
}
