@import "normalize";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-size: $f6;
  color: $colorFont;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

button {
  border: none;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.text-hl {
  color: $colorPrimary;
}
